.mb_0{
  margin-bottom: 0
}

.pd_0 {
  padding: 0;
}

.pd_30 {
  padding: 30px 0;
}

.text_left {
  text-align: left;
}

.stars {
  display: inline-block;
}

.stars::before,
.stars::after {
    display: inline-block;
    content: "";
    border-bottom: 3px solid white;
    width: 100px;
    vertical-align: middle;
    margin: 0 15px;
}

.stars_black {
  display: inline-block;
}

.stars_black::before,
.stars_black::after {
    display: inline-block;
    content: "";
    border-bottom: 3px solid black;
    width: 100px;
    vertical-align: middle;
    margin: 0 15px;
}

.bgc_navbar {
  background-color: #2c3e50;
}

.logo a ,
.nav_link a {
  color: white !important;
  text-transform: uppercase;
}

#jumbo ,
#about {
  background-color: #1abc9c;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  color: white;
}

h1 {
  margin: 15px 0;
  font-size: 35px;
  text-transform: uppercase;
}

h2 {
  margin: 15px 0;
  font-size: 35px;
  text-transform: uppercase;
}

#jumbo p {
  margin: 15px 0;
  font-size: 18px;
  text-transform: uppercase;
}

#portfolio {
  text-align: center;
  padding: 30px 0;
}

.img_portfolio {
  margin: 10px 0;
}

#portfolio img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

#about p {
  margin: 15px 0;
  font-size: 18px;
}

#about button {
  background-color: rgba(255, 255, 255, 0) ;
  border: 1px solid white;
  border-radius: 5px;
}


#contact_me ,
#about {
  padding: 30px;
}

.contact_header {
  text-align: center;
}

#contact_me button {
  background-color: #1abc9c ;
}

footer {
  background-color: #3a546d;
  color: white;
  text-align: center;
}

footer h3{
  text-transform: uppercase;
  font-weight: 400;
}

footer i {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px;
}

footer a {
  color: #1abc9c ;
}

.box_footer {
  padding: 20px 0;
}

.socked {
  padding: 30px 0;
  background-color: #2c3e50;
}
